.gradle/
build/
local.properties
*.iml
.idea/
*.apk
*.aar
captures/
app/release/
app/debug/

# security
*.jks
*.p12
.env
local.properties

# editors
.*.sw?
.*.kate-swp

# Python scripts

__pycache__
meta/fdroid-data
meta/fdroid-server
tools/graphhopper-data
tools/graphhopper-cli.jar

tools/web/*/index.html

media/promo/banner.png
media/promo/splash.png

