<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <queries>
        <intent>
            <action android:name="android.settings.LOCATION_SOURCE_SETTINGS" />
        </intent>
    </queries>
    <application
        android:name=".CarburoidApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carburoid"
        tools:targetApi="36">

        <!-- Android 12+ themed icon declaration -->
        <meta-data
            android:name="android.graphics.drawable.themedIcon"
            android:resource="@mipmap/ic_launcher_themed" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.ChartActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.StationDetailActivity"
            android:exported="false" />

        <activity
            android:name=".location.LocationPickerActivity"
            android:exported="false"
            android:label="@string/location_picker_title"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".deeplink.DeepLinkHandler"
            android:exported="true"
            android:label="Gas stations nerarby"
            android:theme="@android:style/Theme.NoDisplay">

            <!-- Share text (geolocation, coords or uri) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- View geo URI -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="geo" />
            </intent-filter>

            <!-- Follow google maps links -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.google.com" />
                <data android:pathPrefix="/maps/dir/" />
            </intent-filter>

            <!-- Follow osm links -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.openstreetmap.org" />
            </intent-filter>

        </activity>

    </application>

</manifest>
